.row.row--s
  .cell.cell--s
    .card.card--s
      .card-section
        %h2.card-title Apply for account
        .card-subtitle All fields required
      .card-section
        = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
          = devise_error_messages!
          .field.field--text{class: (resource.errors.include? :first_name) ? 'has-error' : ''}
            = f.label :first_name
            = f.text_field :first_name, required: true, autofocus: true
            - if resource.errors.include? :first_name
              .field--text-error
                resource.errors.full_messages_for(:first_name).first

          .field.field--text{class: (resource.errors.include? :last_name) ? 'has-error' : ''}
            = f.label :last_name
            = f.text_field :last_name, required: true
            - if resource.errors.include? :last_name
              .field--text-error
                resource.errors.full_messages_for(:last_name).first

          .field.field--text{class: (resource.errors.include? :email) ? 'has-error' : ''}
            = f.label :email, "E-mail"
            = f.email_field :email, required: true
            - if resource.errors.include? :email
              .field--text-error
                resource.errors.full_messages_for(:email).first

          .field.field--text{class: (resource.errors.include? :password) ? 'has-error' : ''}
            = f.label :password
            = f.password_field :password, autocomplete: "off", required: true
            - if resource.errors.include? :password
              .field--text-error
                resource.errors.full_messages_for(:password).first

          .field.field--text{class: (resource.errors.include? :password_confirmation) ? 'has-error' : ''}
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", required: true
            - if resource.errors.include? :password_confirmation
              .field--text-error
                resource.errors.full_messages_for(:password_confirmation).first

          .field.field--text{class: (resource.errors.include? :description) ? 'has-error' : ''}
            = f.label :description, "Which organization do you represent, and what is your role?"
            = f.text_field :description, required: true
            - if resource.errors.include? :description
              .field--text-error
                resource.errors.full_messages_for(:description).first

          %p= f.submit "Apply for account", :class => "button button-okay"

        %p Alternatively, you might want to
        %p
          = link_to "Sign In", new_session_path(resource_name), class: "button"
          = link_to "Forgot Password?", new_password_path(resource_name), class: "button"