					<div class="tile tile--twoline">
						<div class="tile-focus">
							<div class="tile-title">
								<%= user.name %>
								<span class="twn">(<a href="mailto:<%= user.email %>"><%= user.email %></a>)</span>
							</div>
							<div class="tile-subtitle">
<% if user.role == "Unapproved" %>
								Registered on <%= user.created_at.strftime("%A, %B #{user.created_at.day.ordinalize}") %>.
<% else %>
								<%= user.role %> user.
	<% if user.organizations.any? %>
								Member of <%= user.organizations.map(&:name).join(', ') %>
	<% end %>
<% end %>
							</div>
						</div>
		<% if can? :update, user %>
						<%= link_to user, class: "icon", title: "Edit Profile" do %>
							<svg>
								<use xlink:href="#icon-edit"></use>
								<foreignObject display="none">
									Edit
								</foreignObject>
							</svg>
						<% end %>
		<% end %>
					</div>