		<div class="actions">
			<p>
				<%= link_to "Back to Profile", user_path(@user), :class => "button button-okay" %>
			</p>
		</div>
		
<p>Editing: <%= @user.name %></p>

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |msg| %>
			<%= msg %>
		<% end %>
	<% end %>

	<fieldset>
		<p>
			<%= f.label :first_name %> <span>*</span><br>
			<%= f.text_field :first_name, autofocus: true, required: true %>
		</p>
		<p>
			<%= f.label :last_name %> <span>*</span><br>
			<%= f.text_field :last_name, required: true %>
		</p>
		<p>
			<%= f.label :email %> <span>*</span><br>
			<%= f.email_field :email, required: true %>
		</p>
		<p>
			<%= f.label :phone %><br>
			<%= f.telephone_field :phone %>
		</p>
	</fieldset>

	<fieldset>
		<p>
			<%= f.label :password %> <i>(if you wish to change it)</i><br>
			<%= f.password_field :password, autocomplete: "off" %>
		</p>
		<p>
			<%= f.label :password_confirmation %><br>
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
		</p>
	</fieldset>

<% if can? :manage, @user %>
	<fieldset>
		<p>
			<%= f.label :role %><br>
			<%= f.select :role, User::ROLES %>
		</p>
	</fieldset>
<% end %>


	<p class="submit"><%= f.submit "Update", :class => "button button-okay" %></p>
<% end %>