				<%= form_for @order do |f| %>
<% if @order.errors.any? %>
	<% @order.errors.full_messages.each do |msg| %>
					<p class="flash alert"><%= msg %></p>
	<% end %>
<% end %>
					<fieldset>
						<h3>General Information</h3>
						<p>
							<%= f.label :name, "Order Name" %> <span>*</span><br>
							<%= f.text_field :name, autofocus: true, required: true %>
						</p>
						<p>
							<%= f.label :due, "Due Date (mm/dd/yyyy)" %> <span>*</span><br>
							<%= f.text_field :due, required: true, value: @order.due.present? ? @order.due.strftime("%m/%d/%Y") : "", :class => "datepicker" %>
						</p>
						<p>
<% if current_user.organizations.count > 1 && @can_edit_organization %>
							<%= f.label :organization_id %> <span>*</span><br>
							<%= f.select :organization_id, current_user.organizations.collect {|o| [o.name, o.id]} %>
<% else %>
							<%= f.hidden_field :organization_id, :value => (@order.organization_id || current_user.organizations.first.id) %>
<% end %>
						</p>
					</fieldset>

					<fieldset>
						<h3>Event Information</h3>
						<%= f.fields_for :event do |e| %>
							<p>
								<%= e.label :name, "Event Name" %><br>
								<%= e.text_field :name, value: @order.event["name"] %>
							</p>
							<p>
								<%= e.label :time, "Event Date / Time" %><br>
								<%= e.text_field :time, value: @order.event["time"] %>
							</p>

							<p>
								<%= e.label :location, "Event Location" %><br>
								<%= e.text_field :location, value: @order.event["location"] %>
							</p>
						<% end %>
					</fieldset>

					<fieldset class="flavor">
						<h3>Flavor of Order</h3>
						<ul>
							<li><%= f.radio_button :flavor, "Graphics" %> <%= f.label :flavor_graphics, "Graphics" %></li>
							<li><%= f.radio_button :flavor, "Web" %> <%= f.label :flavor_web, "Web" %></li>
							<li><%= f.radio_button :flavor, "Video" %> <%= f.label :flavor_video, "Video" %></li>
						</ul>
					</fieldset>

					<fieldset class="needs">
						<div class="graphics">
							<%= f.fields_for :needs do |n| %>
								<p>
									<input type="checkbox"> <%= n.label :handbill %><br>
									<%= n.text_field :handbill, value: @order.needs["handbill"] %>
								</p>
								<p>
									<input type="checkbox"> <%= n.label :poster %><br>
									<%= n.text_field :poster, value: @order.needs["poster"] %>
								</p>
							<% end %>
						</div>
					</fieldset>

					<fieldset class="description">
						<p>
							<%= f.label :description %> <span>*</span><br>
							<%= f.text_area :description, required: true %>
						</p>
					</fieldset>

					<p class="submit"><%= f.submit "Submit", :class => "button button-okay" %></p>
				<% end %>