					<div class="tile tile--twoline has-action">
						<div class="icon tile-icon--a" style="color: <%= order.hsl %>">
							<svg><use xlink:href="#icon-<%= order.flavor.downcase %>"></use></svg>
						</div>
						<a href="#" class="tile-focus" data-order="<%= order.id %>">
							<div class="tile-title"><%= order.name %></div>
							<div class="tile-subtitle">
								Due <%= order.due_date %>
								for <%= order.organization.name unless order.organization.nil? %>.
<% if order.creative.present? %>
								It is currently "<%= order.status %>" by <%= order.creative.name %>.
<% end %>
							</div>
						</a>
<% if order.status == "Unapproved" && can?(:approve, order) %>
						<%= link_to approve_order_path(order), remote: true, method: :put, id: "approve-#{order.id}", class: "icon", title: "Approve Order" do %>
							<svg>
								<use xlink:href="#icon-approve"></use>
								<foreignObject display="none">
									Approve
								</foreignObject>
            				</svg>
						<% end %>
<% end %>

<% if order.status == "Unclaimed" && can?(:claim, order) %>
						<%= link_to claim_order_path(order), method: :put, :id => "claim-#{order.id}", class: "icon", title: "Claim Order" do %>
							<svg>
								<use xlink:href="#icon-check"></use>
								<foreignObject display="none">
									Claim
								</foreignObject>
							</svg>
						<% end %>
<% end %>

						<%= link_to order, class: "icon", title: "View Order" do %>
							<svg>
								<use xlink:href="#icon-view"></use>
								<foreignObject display="none">
									View
								</foreignObject>
							</svg>
						<% end %>

					</div>

					<div class="preview" data-order="<%= order.id %>">
						<div colspan="5">
							<article>
								<h3><%= order.name %></h3>
								<%= simple_format(order.description) %>
							</article>
							<article class="needs">
								<h3>Needs</h3>
								<ul>
<%
		case order.flavor
		when "Graphics"
			needs = Order.graphics_needs
		when "Web"
			needs = Order.web_needs
		when "Video"
			needs = Order.video_needs
		end
%>
		<% needs.each do |need| %>
			<% need_param = need.parameterize.underscore %>
			<% unless order.needs[need_param].nil? %>
									<li>
										<em><%= need %></em> <%= order.needs[need_param] %>
									</li>
			<% end %>
		<% end %>
								</ul>
							</article>
						</div>
					</div>