			<div class="actions">
				<p>
<% if can? :create, Order %>
					<%= link_to "Create Order", new_order_path, :class => "button button-okay" %>
<% end %>
					<%= link_to "See Current", orders_path, :class => "button button-neutral" %>
				</p>
			</div>

			<section>
<% if @orders.any? %>
				<%= will_paginate @orders %>
				<h2>Completed Orders</h2>
				<div class="list">
	<% @orders.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
				<%= will_paginate @orders %>
<% else %>
				<h2>Completed Orders</h2>
				<article>
					You don't have any completed orders to display, yet.
				</article>
<% end %>
			</section>