			<div class="actions">
				<p>
<% if can? :create, Order %>
					<%= link_to "Create Order", new_order_path, :class => "button button-okay" %>
<% end %>
					<%= link_to "See Completed", completed_orders_path, :class => "button button-neutral" %>
				</p>
			</div>

			<section>
<% unless @pending_initial.any? || @unclaimed.any? || @claimed.any? || @orders.any? %>
				<article>
					There aren't any orders to display, yet.
				</article>
<% end %>

<% if @pending_initial.any? %>
				<h2>Awaiting Initial Approval (<%= @pending_initial.size %>)</h2>
				<div class="list">
	<% @pending_initial.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>

<% if @pending_advisor.any? %>
				<h2>Awaiting Advisor Approval (<%= @pending_advisor.size %>)</h2>
				<div class="list">
	<% @pending_advisor.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>

<% if @pending_final.any? %>
				<h2>Awaiting Final Approval (<%= @pending_final.size %>)</h2>
				<div class="list">
	<% @pending_final.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>

<% if @unclaimed.any? %>
				<h2>Unclaimed Orders (<%= @unclaimed.size %>)</h2>
				<div class="list">
	<% @unclaimed.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>

<% if @claimed.any? %>
				<h2>Your Orders (<%= @claimed.size %>)</h2>
				<div class="list">
	<% @claimed.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>

<% if @orders.any? %>
				<h2>Orders (<%= @orders.size %>)</h2>
				<div class="list">
	<% @orders.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>
			</section>