			<div class="actions">
				<p>
<% if can? :create, Order %>
					<%= link_to "Create Order", new_order_path, :class => "button button-okay" %>
<% end %>
					<%= link_to "See Completed", completed_orders_path, :class => "button button-neutral" %>
				</p>
			</div>

			<div class="row row--s">
<% unless @pending_initial.any? || @pending_advisor.any? || @pending_final.any? || @unclaimed.any? || @claimed.any? || @orders.any? %>
				<div class="cell cell--s">
					<div class="card card--s">
						There aren't any orders to display, yet.
					</div>
				</div>
<% end %>

<% if @pending_initial.any? %>
				<div class="card card--s">
					<h2 class="card-title">Awaiting Initial Approval (<%= @pending_initial.size %>)</h2>
					<div class="list list--a">
	<% @pending_initial.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
					</div>
				</div>
<% end %>

<% if @pending_advisor.any? %>
				<div class="card card--s">
					<h2 class="card-title">Awaiting Advisor Approval (<%= @pending_advisor.size %>)</h2>
					<div class="card-subtitle">Obtained the order owner's approval</div>
					<div class="list list--a">
	<% @pending_advisor.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
					</div>
				</div>
<% end %>

<% if @pending_final.any? %>
				<div class="card card--s">
					<h2 class="card-title">Awaiting Final Approval (<%= @pending_final.size %>)</h2>
					<div class="card-subtitle">Obtained the owner's and an advisor's approval</div>
					<div class="list list--a">
	<% @pending_final.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
					</div>
				</div>
<% end %>

<% if @unclaimed.any? %>
				<div class="card card--s">
					<h2 class="card-title">Unclaimed Orders (<%= @unclaimed.size %>)</h2>
					<div class="card-subtitle">Orders you can claim</div>
					<div class="list list--a">
	<% @unclaimed.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
					</div>
				</div>
<% end %>

<% if @claimed.any? %>
				<div class="card card--s">
					<h2 class="card-title">Your Orders (<%= @claimed.size %>)</h2>
					<div class="card-subtitle">Ones you've claimed</div>
					<div class="list list--a">
	<% @claimed.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
					</div>
				</div>
<% end %>

<% if @orders.any? %>
				<div class="card card--s">
					<h2 class="card-title">Orders (<%= @orders.size %>)</h2>
					<div class="card-subtitle">Ones you own or advise</div>
					<div class="list list--a">
	<% @orders.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
					</div>
				</div>
<% end %>
			</section>