			<div class="actions">
				<p>
<% if can? :create, Order %>
					<%= link_to "Create Order", new_order_path, :class => "button button-okay" %>
<% end %>
					<%= link_to "See Completed", completed_orders_path, :class => "button button-neutral" %>
				</p>
			</div>

			<section>
<% unless @unapproved.any? || @unclaimed.any? || @claimed.any? || @orders.any? %>
				<article>
					There aren't any orders to display, yet.
				</article>
<% end %>

<% if @unapproved.any? %>
				<h2>Orders Awaiting Approval (<%= @unapproved.count %>)</h2>
				<div class="list">
	<% @unapproved.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>

<% if @unclaimed.any? %>
				<h2>Unclaimed Orders (<%= @unclaimed.count %>)</h2>
				<div class="list">
	<% @unclaimed.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>

<% if @claimed.any? %>
				<h2>Your Orders (<%= @claimed.count %>)</h2>
				<div class="list">
	<% @claimed.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>

<% if @orders.any? %>
				<h2>Orders (<%= @orders.count %>)</h2>
				<div class="list">
	<% @orders.each do |order| %>

<%= render 'listing', order: order %>

	<% end %>
				</div>
<% end %>
			</section>