			<div class="actions">
				<p>
<% if can? :create, Order %>
					<%= link_to "Create Order", new_order_path, :class => "button button-okay" %>
<% end %>
					<%= link_to "See Completed", completed_orders_path, :class => "button button-neutral" %>
				</p>
			</div>

			<section>
<% if @unapproved.any? %>
				<table>
					<caption>Orders Awaiting Approval</caption>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Due Date</th>
						<th>Requested By</th>
						<th></th>
					</tr>
	<% @unapproved.each do |order| %>
					<tr>
						<td><span class="status" style="color: <%= order.hsl %>">&#x25CF;</span></td>
						<th><%= order.name %></th>
						<td><%= order.due.strftime("%A, %B #{order.due.day.ordinalize}") %></td>
						<td><%= order.organization.name unless order.organization.nil? %> - <%= order.owner.name unless order.owner.nil? %></td>
						<td>
		<% if can? :approve, order %>
							<%= link_to "Approve", approve_order_path(order), remote: true, method: :put, :id => "approve-#{order.id}", :class => "button button-okay" %>
		<% end %>
							<%= link_to "See Details", order, :class => "button button-neutral" %>
		<% if can? :destroy, order %>
							<%= link_to "Remove", order, remote: true, method: :delete, :id => "destroy-#{order.id}", :class => "button button-alert" %>
		<% end %>
						</td>
					</tr>
	<% end %>
				</table>
<% end %>

<% if @unclaimed.any? %>
				<table>
					<caption>Unclaimed Orders</caption>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Due Date</th>
						<th>Requested By</th>
						<th></th>
					</tr>
	<% @unclaimed.each do |order| %>
					<tr>
						<td><span class="status" style="color: <%= order.hsl %>">&#x25CF;</span></td>
						<th><%= order.name %></th>
						<td><%= order.due.strftime("%A, %B #{order.due.day.ordinalize}") %></td>
						<td><%= order.organization.name unless order.organization.nil? %> - <%= order.owner.name unless order.owner.nil? %></td>
						<td>
		<% if can? :claim, order %>
							<%= link_to "Claim", claim_order_path(order), remote: true, method: :put, :id => "claim-#{order.id}", :class => "button button-okay" %>
		<% end %>
							<%= link_to "See Details", order, :class => "button button-neutral" %>
						</td>
					</tr>
	<% end %>
				</table>
<% end %>

<% if @orders.any? %>
				<table>
					<caption>Orders</caption>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Due Date</th>
						<th>Requested by</th>
						<th></th>
					</tr>
	<% @orders.each do |order| %>
					<tr>
						<td><span class="status" style="color: <%= order.hsl %>">&#x25CF;</span></td>
						<th><%= order.name %></th>
						<td><%= order.due.strftime("%A, %B #{order.due.day.ordinalize}") %></td>
						<td><%= order.organization.name unless order.organization.nil? %> - <%= order.owner.name unless order.owner.nil? %></td>
						<td>
							<%= link_to "See Details", order, :class => "button button-okay" %>
		<% if can? :update, order %>
							<%= link_to "Edit Order", edit_order_path(order), :class => "button button-neutral" %>
		<% end %>
						</td>
					</tr>
	<% end %>
				</table>
<% end %>
			</section>