		<div class="row">
			<p>
				<%= link_to "Back to Orders", orders_path, :class => "button button-okay" %>
<% if can? :edit, @order %>
				<%= link_to "Edit Order", edit_order_path(@order), :class => "button button-neutral" %>
<% end %>
<% if can? :destroy, @order %>
				<%= link_to "Remove Order", order_path(@order), method: :delete, :class => "button button-alert", data: {confirm: "Are you sure you want to remove the order #{@order.name}?"} %>
<% end %>
			</p>
		</div>

<div class="row row--s">
<div class="g">
	<div class="g-b g-b--s--1of2 g-b--m--2of3">
		<div class="card card--s">
			<h2 class="card-title">Order: <%= @order.name %></h2>
			<div class="card-subtitle">
				Due <%= due_date(@order, short: (@order.status == "Complete")) %>
				for <%= @order.organization.try(:name) || "Unknown Organization" %>.
			</div>
			<div class="card-section">
				<div class="js-truncate" data-truncate-height="200">
					<%= simple_format(@order.description) %>
				</div>
			</div>
		</div>

		<div class="card card--s">
			<h3 class="card-title card-title--s">Progress</h3>
			<div class="card-subtitle">
				<%= @order.status %>
<% if @order.creative  %>
  			&amp; <%= @order.progress %>
<% end %>
				<!-- | Updated <%= @order.updated_at.strftime("%-m/%-d/%Y") %> -->
			</div>
			<div class="card-section">
				<div class="progress mtl mbl">
					<div class="progress-tile is-complete" <%= tooltip "Created on #{@order.created_at.strftime('%-m/%-d/%Y')}" %>>
						<div class="progress-dot"></div>
					</div>

<% unless @order.status == "Unapproved" %>
					<div class="progress-tile is-complete" <%= tooltip "Obtained initial approval" %>>
<% else %>
					<div class="progress-tile" <%= tooltip "Waiting for initial approval" %>>
<% end %>
						<div class="progress-dot"></div>
					</div>

<% if @order.creative %>
					<div class="progress-tile is-complete" <%= tooltip "Claimed by #{@order.creative.name}" %>>
<% else %>
					<div class="progress-tile" <%= tooltip "Waiting to be claimed" %>>
<% end %>
						<div class="progress-dot"></div>
					</div>

<% if @order.student_approval.nil? %>
					<div class="progress-tile" <%= tooltip "Waiting for owner's approval" %>>
<% else %>
					<div class="progress-tile is-complete" <%= tooltip "Approved by #{@order.student_approval.name}" %>>
<% end %>
						<div class="progress-dot"></div>
					</div>

<% if @order.advisor_approval.nil? %>
					<div class="progress-tile" <%= tooltip "Waiting for advisor's approval" %>>
<% else %>
					<div class="progress-tile is-complete" <%= tooltip "Approved by #{@order.advisor_approval.name}" %>>
<% end %>
						<div class="progress-dot"></div>
					</div>

<% if @order.final_one.nil?  %>
					<div class="progress-tile" <%= tooltip "Waiting for first final approval" %>>
<% else %>
					<div class="progress-tile is-complete" <%= tooltip "Approved by #{@order.final_one.name}" %>>
<% end %>
						<div class="progress-dot"></div>
					</div>

<% if @order.final_two.nil?  %>
					<div class="progress-tile" <%= tooltip "Waiting for second final approval" %>>
<% else %>
					<div class="progress-tile is-complete" <%= tooltip "Approved by #{@order.final_two.name}" %>>
<% end %>
						<div class="progress-dot"></div>
					</div>
				</div>
			</div>
			<div class="card-section">
<% if @creative == current_user %>
				<p>
					<%= form_for @order.becomes(Order), url: change_progress_order_path(@order), method: :put, remote: true do |f| %>
						<% f.object = @order.becomes(@order.class) %>
						<%= f.select :progress, Order::PROGRESSES, include_blank: "Select Progress" %>
						<noscript>
							<%= f.submit "Update", :class => "button button-neutral", :id => "progress-#{@order.id}" %>
						</noscript>
						<script type="text/javascript">
							$('#edit_order_<%= @order.id %> select').change(function () {
								$('#edit_order_<%= @order.id %> .temp').remove();
								$('#edit_order_<%= @order.id %>').submit();
							});
						</script>
					<% end %>
				</p>
<% end %>

<% approval_button = "" %>
				<p>
<% if @order.final_one != current_user && @order.final_two.nil? && can?(:final_approve, @order) %>
					If you are satisfied with the current proof of the order, you can give it final approval.
	<% if @order.student_approval.nil? && @order.owner == current_user %>
  				Since you are the order's owner, your approval will count as the owner's approval.
	<% end %>
	<% if @order.advisor_approval.nil? %>
					This order does not yet have an advisor's approval.
		<% if can? :advisor_approve, @order %>
  				Since you are also an advisor<%= " for #{@order.organization.name}" unless @order.organization.nil? %>, your approval will count as an advisor's approval.
		<% end %>
	<% end %>
	<% approval_button = link_to "Approve Proof", approve_order_path(@order, stage: "final"), method: :put, class: "button button-okay" %>
<% elsif @order.advisor_approval.nil? && can?(:advisor_approve, @order) %>
					If you are satisfied with the current proof of the order, you can give it an advisor's approval.
	<% if @order.student_approval.nil? && @order.owner == current_user %>
  				Since you are also the order's owner, your approval will count as the owner's approval.
	<% end %>
	<% approval_button = link_to "Approve Proof", approve_order_path(@order, stage: "advisor"), method: :put, class: "button button-okay" %>

<% elsif @order.student_approval.nil? && can?(:student_approve, @order) %>
					If you are satisfied with the current proof of the order, you can give it your approval. Afterwards, it will need to be approved by your advisor.
	<% approval_button = link_to "Approve Proof", approve_order_path(@order, stage: "student"), method: :put, class: "button button-okay" %></p>
<% end %>
<% if can?(:manage, @order) %>
  				You can manually set this order to complete, bypassing the approval process.
<% end %>
				</p>

				<p>
<% if @order.status == "Unclaimed" && can?(:claim, @order) %>
					<%= link_to "Claim Order", claim_order_path(@order), method: :put, :id => "claim-#{@order.id}", :class => "button button-okay" %>
<% end %>
					<%= approval_button %>
<% if can?(:manage, @order) %>
					<%= link_to "Mark Complete", complete_order_path(@order), method: :put, :class => "button", data: { confirm: "Are you sure you want to mark this order as complete?" } %>
<% end %>
<% if @order.status == "Claimed" && can?(:unclaim, @order) %>
					<%= link_to "Unclaim Order", unclaim_order_path(@order), method: :put, :class => "button button-alert" %>
<% end %>
				</p>
			</div>
		</div>

		<div class="card card--s">
			<h3 class="card-title card-title--s">Comments (<%= @order.comments.count %>)</h3>
			<div class="card-subtitle">
<% if @order.subscriptions.include? current_user.id %>
				<%= link_to "Unsubscribe", unsubscribe_order_path(@order), method: :put, :id => "unsub-#{@order.id}" %>
<% else %>
				<%= link_to "Subscribe", subscribe_order_path(@order), method: :put, :id => "sub-#{@order.id}" %>
<% end %>
			</div>

<% if @order.comments.any? %>
	<% @order.comments.order(created_at: :asc).each do |comment| %>
				<div class="card-section card-section--d with-avatar">
		<% if comment.attachment.exists? %>
		  		<%= link_to asset_path(comment.attachment.url), class: "icon fr tsl", title: "View Attachment" do %>
						<svg>
							<use xlink:href="#icon-attachment"></use>
							<foreignObject display="none">
								Attachment
							</foreignObject>
						</svg>
					<% end %>
		<% end %>
					<div class="card-avatar"><%= comment.user.initials %></div>
					<div class="card-title"><%= comment.user.name %></div>
					<div class="card-subtitle">
						<%= comment.created_at.strftime("%-m/%-d/%Y at %-I:%M%P") %>
		<% if can? :destroy, comment %>
						&mdash; <%= link_to "Remove", comment, method: :delete, data: {confirm: "Are you sure you want to remove this comment?"} %>
		<% end %>
					</div>
					<p>
						<%= comment.message.gsub(/\n/, '<br>').html_safe %>
					</p>
				</div>
	<% end %>
<% else %>
				<p>There are no comments on this order.</p>
<% end %>

<% if can? :comment_on, @order %>
				<p><em>Add Comment:</em></p>
				<%= form_for Comment.new, html: {multipart: true} do |c| %>
					<p>
						<%= c.hidden_field :order_id, value: @order.id %>
						<%= c.text_area :message %><br>
					</p>
					<p>
						<%= c.label :attachment, "Attach File (optional):" %><br>
						<%= c.file_field :attachment %>
					</p>
					<p>
						<%= c.submit "Add Comment", :class => "button button-neutral" %>
					</p>
				<% end %>
<% end %>
		</div>
	</div>



	<div class="g-b g-b--s--1of2 g-b--m--1of3">
		<div class="card card--s ptm">
<% if @owner.nil? %>
			<div class="card-section">
				<div class="card-avatar">??</div>
				<div class="card-title with-avatar">Unknown User</div>
				<div class="card-subtitle with-avatar">Order creator</div>
			</div>
<% else %>
			<div class="card-section with-avatar">
				<div class="card-avatar"><%= @owner.initials %></div>
				<div class="card-title"><%= @owner.name %></div>
				<div class="card-subtitle">Order creator</div>
				<p>
					Member of <%= @organization.name %><br>
					<a href="mailto:<%= @owner.email %>"><%= @owner.email %></a>
	<% if @owner.phone.present? %>
	  			| <%= @owner.phone %>
	<% end %>
				</p>
			</div>
<% end %>
<% unless @order.creative.nil? %>
			<div class="card-section with-avatar">
				<div class="card-avatar"><%= @order.creative.initials %></div>
				<div class="card-title"><%= @order.creative.name %></div>
				<div class="card-subtitle">Claimed order</div>
			</div>
<% end %>
		</div>

		<div class="card card--s">
			<h3 class="card-title card-title--s">What's included</h3>
			<div class="card-section">
<% @needs.each do |need| %>
	<% need_param = need.parameterize.underscore %>
	<% if @order.needs[need_param] == "" %>
				<div class="tag">
					<div><%= need %></div>
				</div>
	<% elsif !@order.needs[need_param].nil? %>
				<div class="tag">
					<div><%= need %></div><div><%= @order.needs[need_param] %></div>
				</div>
	<% end %>
<% end %>
			</div>
		</div>

<% unless @order.event.nil? || @order.event.empty? %>
		<div class="card card--s">
			<h3 class="card-title card-title--s">Event Information</h3>
			<p>
	<% if @order.event['time'].present? %>
				<em>When:</em> <%= @order.event['time'] %><br>
	<% end %>
	<% if @order.event['location'].present? %>
				<em>Where:</em> <%= @order.event['location'] %><br>
	<% end %>
	<% if @order.event['contact'].present? %>
				<em>Contact:</em> <%= @order.event['contact'] %><br>
	<% end %>
	<% if @order.event['accomodations'].present? %>
				<em>Accomodations:</em> <%= @order.event['accomodations'] %>
	<% end %>
			</p>
		</div>
<% end %>
	</div>
</div>
</div>