		<div class="actions">
			<p>
				<%= link_to "Back to Orders", orders_path, :class => "button button-okay" %>
<% if can? :edit, @order %>
				<%= link_to "Edit Order", edit_order_path(@order), :class => "button button-neutral" %>
<% end %>
<% if can? :destroy, @order %>
				<%= link_to "Remove Order", order_path(@order), method: :delete, :class => "button button-alert", data: {confirm: "Are you sure you want to remove the order #{@order.name}?"} %>
<% end %>
			</p>
		</div>

		<section>
			<h2>Order: <%= @order.name %></h2>
			<article>
				<p>
					<em>Status:</em> <%= @order.status %><br>
<% if @order.creative %>
					<em>Claimed by:</em> <%= @order.creative.name %><br>
					<em>Progress:</em> <%= @order.progress %><br>
<% end %>
					<em>Due date:</em> <%= due_date(@order) %><br>
					<em>Requested by:</em> <%= @order.organization.name unless @order.organization.nil? %> - <%= @order.owner.name unless @order.owner.nil? %>
				</p>

<% if @order.final_one != current_user && @order.final_two.nil? && can?(:final_approve, @order) %>
				<h3>Order Actions</h3>
				<p>
					If you are satisfied with the current proof of the order, you can give it final approval.
	<% if @order.student_approval.nil? && @order.owner == current_user %>
  				Since you are the order's owner, your approval will count as the owner's approval.
	<% end %>
	<% if @order.advisor_approval.nil? %>
					This order has not yet been approved by an advisor.
		<% if can? :advisor_approve, @order %>
  				Since you are also an advisor<%= " for #{@order.organization.name}" unless @order.organization.nil? %>, your approval will count as an advisor's approval.
		<% end %>
	<% end %>
				</p>
				<p>
					<%= link_to "Approve Order", approve_order_path(@order, stage: "final"), method: :put, class: "button button-okay" %>
				</p>
<% elsif @order.advisor_approval.nil? && can?(:advisor_approve, @order) %>
				<h3>Order Actions</h3>
				<p>
					If you are satisfied with the current proof of the order, you can give it an advisor's approval.
	<% if @order.student_approval.nil? && @order.owner == current_user %>
  				Since you are also the order's owner, your approval will count as the owner's approval.
	<% end %>
				</p>
				<p>
					<%= link_to "Approve Order", approve_order_path(@order, stage: "advisor"), method: :put, class: "button button-okay" %>
				</p>
<% elsif @order.student_approval.nil? && can?(:student_approve, @order) %>
				<h3>Order Actions</h3>
				<p>
					If you are satisfied with the current proof of the order, you can give it your approval. Afterwards, it will need to be approved by your advisor.
				</p>
				<p>
					<%= link_to "Approve Order", approve_order_path(@order, stage: "student"), method: :put, class: "button button-okay" %>
				</p>
<% end %>

				<h3>Description</h3>
				<%= simple_format(@order.description) %>

				<p class="mal">
					<div class="progress">
						<div class="progress-tile is-complete" <%= tooltip "Created on #{@order.created_at.strftime('%-m/%-d/%Y')}" %>>
							<div class="progress-dot"></div>
						</div>

<% unless @order.status == "Unapproved" %>
  					<div class="progress-tile is-complete" <%= tooltip "Obtained initial approval" %>>
<% else %>
						<div class="progress-tile" <%= tooltip "Waiting for initial approval" %>>
<% end %>
							<div class="progress-dot"></div>
						</div>

<% if @order.creative %>
  					<div class="progress-tile is-complete" <%= tooltip "Claimed by #{@order.creative.name}" %>>
<% else %>
						<div class="progress-tile" <%= tooltip "Waiting to be claimed" %>>
<% end %>
							<div class="progress-dot"></div>
						</div>

<% if @order.student_approval.nil? %>
						<div class="progress-tile" <%= tooltip "Waiting for owner's approval" %>>
<% else %>
						<div class="progress-tile is-complete" <%= tooltip "Approved by #{@order.student_approval.name}" %>>
<% end %>
							<div class="progress-dot"></div>
						</div>

<% if @order.advisor_approval.nil? %>
						<div class="progress-tile" <%= tooltip "Waiting for advisor's approval" %>>
<% else %>
						<div class="progress-tile is-complete" <%= tooltip "Approved by #{@order.advisor_approval.name}" %>>
<% end %>
							<div class="progress-dot"></div>
						</div>

<% if @order.final_one.nil?  %>
  					<div class="progress-tile" <%= tooltip "Waiting for first final approval" %>>
<% else %>
						<div class="progress-tile is-complete" <%= tooltip "Approved by #{@order.final_one.name}" %>>
<% end %>
							<div class="progress-dot"></div>
						</div>

<% if @order.final_two.nil?  %>
  					<div class="progress-tile" <%= tooltip "Waiting for second final approval" %>>
<% else %>
						<div class="progress-tile is-complete" <%= tooltip "Approved by #{@order.final_two.name}" %>>
<% end %>
							<div class="progress-dot"></div>
						</div>
					</div>
				</p>
			</article>

			<article>
<% if @order.subscriptions.include? current_user.id %>
				<h3>Comments (<%= @order.comments.count %>) <%= link_to "Unsubscribe", unsubscribe_order_path(@order), method: :put, :id => "unsub-#{@order.id}" %></h3>
<% else %>
				<h3>Comments (<%= @order.comments.count %>) <%= link_to "Subscribe", subscribe_order_path(@order), method: :put, :id => "sub-#{@order.id}" %></h3>
<% end %>
<% if @order.comments.any? %>
	<% @order.comments.order(created_at: :asc).each do |comment| %>
				<div class="comment">
					<p>
						<em><%= comment.user.name %></em><br>
						<span class="subtitle">
							<%= comment.created_at.strftime("%-m/%-d/%Y at %-I:%M%P") %>
		<% if can? :destroy, comment %>
							&mdash;
							<%= link_to "Remove", comment, method: :delete, data: {confirm: "Are you sure you want to remove this comment?"} %>
		<% end %>
						</span><br>
						<span class="subtitle">
		<% if comment.attachment.exists? %>
						<%= link_to "View Attachment", asset_path(comment.attachment.url) %>
		<% end %>
						</span>
					</p>
					<p>
						<%= comment.message.gsub(/\n/, '<br>').html_safe %>
					</p>
				</div>
	<% end %>
<% else %>
				<p>There are no comments on this order.</p>
<% end %>

<% if can? :comment_on, @order %>
				<p><em>Add Comment:</em></p>
				<%= form_for Comment.new, html: {multipart: true} do |c| %>
					<p>
						<%= c.hidden_field :order_id, value: @order.id %>
						<%= c.text_area :message %><br>
					</p>
					<p>
						<%= c.label :attachment, "Attach File (optional):" %><br>
						<%= c.file_field :attachment %>
					</p>
					<p>
						<%= c.submit "Add Comment", :class => "button button-neutral" %>
					</p>
				<% end %>
<% end %>
			</article>
		</section>

		<aside>
			<h2>More Info</h2>

			<article class="needs">
				<h3>Needs</h3>
				<ul>
<% @needs.each do |need| %>
	<% need_param = need.parameterize.underscore %>
	<% unless @order.needs[need_param].nil? %>
					<li>
						<em><%= need %></em> <%= @order.needs[need_param] %>
					</li>
	<% end %>
<% end %>
				</ul>
			</article>
<% unless @order.event.nil? || @order.event.empty? %>
			<article>
				<h3>Event Information</h3>
				<p>
	<% if @order.event['time'].present? %>
					<em>When:</em> <%= @order.event['time'] %><br>
	<% end %>
	<% if @order.event['location'].present? %>
					<em>Where:</em> <%= @order.event['location'] %><br>
	<% end %>
	<% if @order.event['contact'].present? %>
					<em>Contact:</em> <%= @order.event['contact'] %><br>
	<% end %>
	<% if @order.event['accomodations'].present? %>
					<em>Accomodations:</em> <%= @order.event['accomodations'] %>
	<% end %>
				</p>
			</article>
<% end %>
			<article>
<% unless @owner.nil? %>
				<h3>About the Requester</h3>
				<p>
					<%= @owner.name %><br>
					Member of <%= @organization.name %><br>
					<a href="mailto:<%= @owner.email %>"><%= @owner.email %></a><br>
					<%= @owner.phone %>
				</p>
<% else %>
				<p>The order's owner has been removed.</p>
<% end %>
			</article>

<% if @creative == current_user %>
			<article>
				<h3>Change Progress</h3>
				<%= form_for @order.becomes(Order), url: change_progress_order_path(@order), method: :put, remote: true do |f| %>
					<% f.object = @order.becomes(@order.class) %>
					<%= f.select :progress, Order::PROGRESSES, include_blank: "Select Progress" %>
					<%= f.submit "Update", :class => "button button-neutral", :id => "progress-#{@order.id}" %>
				<% end %>
	<% if can? :unclaim, @order %>
				<p><%= link_to "Unclaim", unclaim_order_path(@order), method: :put, :class => "button button-alert" %></p>
	<% end %>
			</article>
<% end %>

<% if @order.status == "Unclaimed" && can?(:claim, @order) %>
			<article class="claim">
				<p><%= link_to "Claim", claim_order_path(@order), method: :put, :id => "claim-#{@order.id}", :class => "button button-okay" %></p>
			</article>
<% end %>

<% if @order.status == "Claimed" && can?(:change_progress, @order) %>
			<article>
				<p><%= link_to "Complete", complete_order_path(@order), method: :put, :class => "button button-okay" %></p>
			</article>
<% end %>

			<article>
				<p>Last activity: <%= @order.updated_at.strftime("%-m/%-d/%Y") %>.</p>
<% if can? :manage, Order %>
				<p>Order Created: <%= @order.created_at.strftime("%-m/%-d/%Y") %>.</p>
<% end %>
			</article>
		</aside>