						<div class="graphics need-wrap" style="display: <%= display %>">
							<div class="field">
								<p>Please choose the graphic formats that would be most effective for your organization or event.</p>
								<%= f.fields_for :needs do |n| %>
		<% Order.graphics_needs.each do |need| %>
			<% need_param = need.parameterize.underscore %>
									<div class="need">
										<a href="#" class="need-label">&#x25B8; <%= need %></a>
										<a href="#<%= need_param %>_modal" class="fancybox">(?)</a><br>
										<%= n.text_field need_param.to_sym, value: @order.needs[need_param], placeholder: "Size / Other Info", disabled: @order.needs[need_param].nil? %>
									</div>
		<% end %>
							<% end %>
							</div>
						</div>