.field.js-needs.js-needs--graphics{style: "display: #{display}"}
  %p Please choose the graphic formats that would be most effective for your organization or event.
  .list.list--inline
    = f.fields_for :needs do |n|
      - GraphicOrder.needs.each do |need|
        - need_param = need.parameterize.underscore
        .list-item
          .need.tag.tsm<

            %input{type: "checkbox", id: "order_needs_#{need_param}_check", class: "need-check", checked: !@order.needs.nil? && !@order.needs[need_param].nil?}
            %label{for: "order_needs_#{need_param}_check"}
              .need-icon <svg><use xlink:href="#icon-check"></use><foreignObject display="none">Checked</foreignObject></svg>
              = need
              %a{href: "##{need_param}_modal", class: "fancybox"} (?)
            = n.text_field need_param.to_sym, value: @order.needs.nil? ? '' : @order.needs[need_param], placeholder: "Size / Info", disabled: @order.needs.nil? || @order.needs[need_param].nil?, data: {disabled: @order.needs.nil? || @order.needs[need_param].nil?}, class: "need-input"