		<header class="header">
			<div class="header-wrap">
				<h1 class="header-title"><%= link_to "CreativeQ", root_url, class: "header-link" %></h1>
				<nav class="nav">

<% if user_signed_in? %>
					<%= link_to "Orders", orders_path, class: "nav-link", title: "Orders" %>
	<% if can? :manage, User %>
					<%= link_to "Users", users_path, class: "nav-link", title: "Users" %>
	<% end %>
	<% if can? :index, Organization %>
					<%= link_to "Organizations", organizations_path, class: "nav-link", title: "Organizations" %>
	<% end %>
					<%= link_to user_path(current_user), class: "nav-icon nav-link profile", title: "Profile" do %>
						<svg>
							<use xlink:href="#icon-user"></use>
							<foreignObject display="none">
								Profile
							</foreignObject>
						</svg>
					<% end %>
					<%= link_to notifications_path, class: "nav-icon nav-link #{"has-badge" if current_user.notifications.any?}", data: {badge: current_user.notifications.count}, title: "Notifications" do %>
						<svg>
							<use xlink:href="#icon-inbox"></use>
							<foreignObject display="none">
								Notifications
							</foreignObject>
						</svg>
					<% end %>
					<%= link_to destroy_user_session_path, method: :delete, class: "nav-icon nav-link logout", title: "Log Out" do %>
						<svg>
							<use xlink:href="#icon-logout"></use>
							<foreignObject display="none">
								Log Out
							</foreignObject>
						</svg>
					<% end %>
<% else %>
					<%= link_to "Sign Up", new_user_registration_path, class: "nav-link signup", title: "Sign Up" %>
					<%= link_to "Sign In", root_url, class: "nav-link signin", title: "Sign In" %>
<% end %>
				</nav>
			</div>
		</header>