!!!
%html
  %head
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    %title CreativeQ

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    <!--[if lt IE 10]>
    = stylesheet_link_tag "ie", media: "all", "data-turbolinks-track" => true
    <![endif]-->

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{class: "#{controller_name} #{action_name}"}
    = render 'layouts/icons'
    = render 'layouts/header'
    = render 'layouts/messages'

    .main
      = yield

    = render 'layouts/footer'